<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./fontawesome/fontawesome-free-5.13.1-web/css/all.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="container-fluid BG">
            <div class="content position-relative">
                <!-- Buttom Show -->
                <input type="checkbox" id="expand-toggle" />
                <!-- End -->

                <!-- Menu Hidden -->
                <nav class="navbar navbar-expand-md navbar-light expandable">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01"
                        aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                        <label for="expand-toggle" id="expand-btn-close"><i class="fas fa-bars"></i></label>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId"
                        style="padding-top: 20px;font-weight: bold;font-size: 18px;">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contacts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Introduce</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- End -->

                <!-- List Menu Responsive -->
                <div class="show1">
                    Home
                </div>
                <div class="show2">
                    Contact
                </div>
                <!--  -->

                <!-- List Menu Medium Screen -->
                <nav class="navbar navbar-light navbar-visible" style="background-color: transparent;">
                    <a class="navbar-brand">LOGO</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01"
                        aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                        <label for="expand-toggle" id="expand-btn"><i class="fas fa-bars"></i></label>
                    </button>
                </nav>
                <!-- End -->

                <div class="text">
                    <h4>Welcome to our Cafe</h4>
                    <p>Ut enim ad minima veniam, quis nostrum exercitatione</br>
                        ullam corporis suscipit laboriosam, nisi ut aliquid.</p>
                    <button type="button" class="btn btn-learn">LEARN MORE</button>
                </div>
            </div>
        </div>
    </header>
    <!-- End -->
    <!-- Feature -->
    <section class="features">
        <div class="container-fluid">
            <div class="content">
                <div class="text">
                    <h4 class="title">Features</h4>
                    <p>
                        Ut enim ad minima veniam, quis nostrum exercitationem ullamris</br>
                        suscipit laboriosam nisi ut.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4" style="padding-left: 0;">
                        <div class="card">
                            <img class="card-img-top" src="./images/feature1.png" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Feature #1</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis</br>
                                    nostrum exercitationem ullamris</br>
                                    suscipit laboriosam nisi ut.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="./images/feature1.png" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Feature #2</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis</br>
                                    nostrum exercitationem ullamris</br>
                                    suscipit laboriosam nisi ut.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding-right: 0;">
                        <div class="card">
                            <img class="card-img-top" src="./images/feature1.png" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Feature #3</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis</br>
                                    nostrum exercitationem ullamris</br>
                                    suscipit laboriosam nisi ut.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-30" style="padding-left: 0;">
                        <div class="card">
                            <img class="card-img-top" src="./images/feature1.png" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Feature #4</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis</br>
                                    nostrum exercitationem ullamris</br>
                                    suscipit laboriosam nisi ut.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-30">
                        <div class="card">
                            <img class="card-img-top" src="./images/feature1.png" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Feature #5</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis</br>
                                    nostrum exercitationem ullamris</br>
                                    suscipit laboriosam nisi ut.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-30" style="padding-right: 0;">
                        <div class="card">
                            <img class="card-img-top" src="./images/feature1.png" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Feature #6</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis</br>
                                    nostrum exercitationem ullamris</br>
                                    suscipit laboriosam nisi ut.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->
    <!-- More Feature -->
    <section class="MoreFeature">
        <div class="container-fluid">
            <div class="content">
                <div class="row">
                    <div class="col">
                        <div class="BG">
                            <div class="icon">
                                <i class="fas fa-play-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text">
                            <h4>More Awesome Features</h4>
                            <p style="margin-bottom: 28px;line-height: 20px;">Sed ut perspiciatis unde omnis iste natus
                                error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                quae ab illo tore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                            <p style="margin-bottom: 28px;line-height: 20px;">Neque porro quisquam est, qui dolorem
                                ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                                tempora </p>
                            <p style="margin-bottom: 28px;line-height: 20px;">incidunt ut labore et dolore magnam
                                aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                                corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. </p>
                            <button type="button" class="btn btn-learn2">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->
    <!-- Lorem -->
    <section class="lorem">
        <div class="container-fluid">
            <div class="content">
                <div class="row">
                    <div class="col" style="padding-left: 0;">
                        <div class="text">
                            <h4 class="title">Lorem Ipsum Dolor Sit amet</h4>
                            <p style="margin-bottom: 32px;">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit, sed quia non numquam eius modi tempora </p>
                            <p style="margin-bottom: 30px;">incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim
                                ad minima veniam, quis nostrum exercitationem.
                            </p>
                            <button type="button" class="btn btn-learn3">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col" style="padding-right: 0;">
                        <div class="BG">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->
    <!-- Blog -->
    <section class="blog">
        <div class="container-fluid">
            <div class="content">
                <div class="text">
                    <h4 class="title">Features</h4>
                    <p>
                        Ut enim ad minima veniam, quis nostrum exercitationem ullamris</br>
                        suscipit laboriosam nisi ut.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 pl-0">
                        <div class="card">
                            <img class="card-img-top" src="./images/toa-heftiba-6bKpHAun4d8-unsplash.jpg">
                            <div class="card-body">
                                <span class="status"><i class="fas fa-user"></i> Admin<i style="margin-left: 25px;" class="fas fa-calendar-alt"></i> May 27,2020</span>
                                <h4 class="card-title">Quas molestias except</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis rum
                                    exercitationem ullamris suscipit.</p>
                                <a class="btn-read">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="./images/toa-heftiba-6bKpHAun4d8-unsplash.jpg">
                            <div class="card-body">
                                <span class="status"><i class="fas fa-user"></i> Admin<i style="margin-left: 25px;" class="fas fa-calendar-alt"></i> May 27,2020</span>
                                <h4 class="card-title">Occaecati cupiditate</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis rum
                                    exercitationem ullamris suscipit.</p>
                                <a class="btn-read">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pr-0">
                        <div class="card">
                            <img class="card-img-top" src="./images/toa-heftiba-6bKpHAun4d8-unsplash.jpg">
                            <div class="card-body">
                                <span class="status"><i class="fas fa-user"></i> Admin<i style="margin-left: 25px;" class="fas fa-calendar-alt"></i> May 27,2020</span>
                                <h4 class="card-title">Similique sunt in culpa</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis rum
                                    exercitationem ullamris suscipit.</p>
                                <a class="btn-read">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pl-0 mt-30">
                        <div class="card">
                            <img class="card-img-top" src="./images/toa-heftiba-6bKpHAun4d8-unsplash.jpg">
                            <div class="card-body">
                                <span class="status"><i class="fas fa-user"></i> Admin<i style="margin-left: 25px;" class="fas fa-calendar-alt"></i> May 27,2020</span>
                                <h4 class="card-title">Quas molestias except</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis rum
                                    exercitationem ullamris suscipit.</p>
                                <a class="btn-read">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-30">
                        <div class="card">
                            <img class="card-img-top" src="./images/toa-heftiba-6bKpHAun4d8-unsplash.jpg">
                            <div class="card-body">
                                <span class="status"><i class="fas fa-user"></i> Admin<i style="margin-left: 25px;" class="fas fa-calendar-alt"></i> May 27,2020</span>
                                <h4 class="card-title">Occaecati cupiditate</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis rum
                                    exercitationem ullamris suscipit.</p>
                                <a class="btn-read">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pr-0 mt-30">
                        <div class="card">
                            <img class="card-img-top" src="./images/toa-heftiba-6bKpHAun4d8-unsplash.jpg">
                            <div class="card-body">
                                <span class="status"><i class="fas fa-user"></i> Admin<i style="margin-left: 25px;" class="fas fa-calendar-alt"></i> May 27,2020</span>
                                <h4 class="card-title">Similique sunt in culpa</h4>
                                <p class="card-text">Ut enim ad minima veniam, quis rum
                                    exercitationem ullamris suscipit.</p>
                                <a class="btn-read">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-load">LOAD MORE</button>
            </div>
        </div>
    </section>
    <!-- End -->
    <!-- Et harum -->
    <section class="et">
        <div class="container-fluid">
            <div class="content">
                <div class="row">
                    <div class="col pl-0">
                        <h4>Et harum quidem rerum facilis</br>
                            Nam libero tempore, nobis.</h4>
                    </div>
                    <div class="col pr-0">
                        <button type="button" class="btn btn-et">LEARN MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->
    <!-- Contact -->
    <section class="contact">
        <div class="container-fluid">
            <div class="content">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="title">Get in Touch</h4>
                        <div class="form-row">
                            <div class="col form-group">
                                <label style="margin-bottom: 18px;" for="">Full name *</label>
                                <input type="text" name="" id="" class="form-control" placeholder="Full name" aria-describedby="helpId">
                            </div>
                            <div class="col form-group">
                                <label style="margin-bottom: 18px;" for="">Email Address *</label>
                                <input type="text" name="" id="" class="form-control" placeholder="Email" aria-describedby="helpId">
                            </div>
                        </div>
                        <div class="form-group">
                          <label style="margin-bottom: 18px;" for="">Messenger *</label>
                          <textarea style="height: 168px;" type="text" name="" id="" class="form-control" placeholder="Messenger"></textarea>
                        </div>
                        <button type="button" class="btn btn-submit">SUBMIT</button>
                    </div>
                    <div class="col-md-4">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1167943814653!2d106.64427641455502!3d10.802365892303937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752974fd410c2b%3A0xd7dd5f74c0918d3d!2zQ8O0bmcgdHkgcGjhuqduIG3hu4FtIEdTT1Q!5e0!3m2!1svi!2s!4v1595403666669!5m2!1svi!2s" width="100%" height="410px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->
    <Footer class="footer">
        <div class="container-fluid">
            <div class="content">
                <div class="row">
                    <div class="col">
                        <div class="icon">
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-youtube"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-pinterest"></i>
                            <i class="fab fa-dribbble"></i>
                            <i class="fab fa-behance"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="logo">
                            <h4>LOGO</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <p class="end">2019 Copyrights & Protected</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Footer>

    <script src="./bootstrap/js/jquery-3.5.1.min.js"></script>
    <script src="./js/script.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
</body>

</html>