.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.abc{
  background-color: red;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer1 {
  list-style: none;
}
.footer1 li {
  margin: 0 0 10px;
}
.footer1 li a {
  color: #718096;
  position: relative;
}

.icon1 {
  justify-content: center;
}

.icon1 a {
  background-color: #03c;
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  margin-right: 4px;
  list-style: none;
}

.icon1 a:hover {
  background-color: #15db95;
}

.form-inline button {
  border-color: #0c713d;
  background-color: white;
  color: black;
}

.form-inline button:hover {
  background-color: green;
}
.form-group label span {
  color: red;
}

.form-group label {
  color: #888888;
  font-size: 14px;
  font-family: serif;
}
.form-DK h1 {
  color: #0d713d;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0px 75px;
  padding: 70px 0px 0px;
  text-align: center;
}
.from-text {
  color: #797979;
  font-size: 12px;
}
.b {
  color: #0d713d;
  font-size: 12px;
}
.h2 {
  color: #0d713d;
  font-size: 24px;
  margin: 80px 0px 10px;
}
.from-text1 {
  color: #797979;
  font-size: 14px;
  margin: 0px 0px 45px;
}
.la {
  color: #888888;
  font-size: 12px;
  margin: 0px 0px 12px;
}

.form-check-input {
  position: unset;
  margin-left: 0;
  margin-right: 5px;
  background: white;
}

.text-check label {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.form-DN h1 {
  color: #0d713d;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0px 75px;
  padding: 70px 0px 0px;
  text-align: center;
}
.form-group .leble-Dn1 {
  font-size: 16px;
  color: #666666;
  margin: 0px 0px 5px;
  font-weight: bold;
}

.banner {
  width: 100%;
  padding: 10%;
}
.bannertext {
  align-self: center;
  width: 100%;
}
.boxinfo {
  align-self: center;
}
.readmore {
  border-radius: 3px;
  border-color: #0c713d;
  background-color: transparent;
  color: #0c713d;
}
.readmore:hover {
  background-color: #0c713d;
  color: white;
}
.btnlog {
  border-color: transparent;
  color: black;
  background-color: transparent;
}
.menucontain {
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 3;
  align-self: center;
}
.logoshow {
  width: 20%;
}
.lang {
  margin: 0%;
}
.Background-Address {
  color: #0c713d;
}
.home-section {
  min-height: inherit !important;
}
.address-color {
  background: #0c713d;
}
.info__list {
  color: #fff;
}
.heading {
  font: 2.8125rem/3.375rem "Muli", sans-serif;
  text-transform: uppercase;
}
.map-chose {
  margin: 30px 0;
}
.dropdown-button {
  color: #fff;
  background: none !important;
  border: 1px solid #fff !important;
}
.select-width {
  width: 220px;
}
.map-list-store {
  margin-top: 20px;
  max-height: 330px;
  padding-right: 10px;
  overflow: auto;
}
.map-list-store li {
  position: relative;
  margin-bottom: 14px;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: green;
}

.topnav .icon {
  display: none;
}

.dropdwn {
  float: left;
  overflow: hidden;
}

.dropdwn .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdwn-content {
  margin-top: 2%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdwn-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdwn:hover {
  background-color: green;
  color: white;
}

.topnav a:hover,
.dropbtn {
  background-color: green;
  color: white;
}

.dropdwn-content a:hover {
  background-color: gray;
  color: black;
}

.dropdwn:hover .dropdwn-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdwn .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdwn {
    float: none;
  }
  .topnav.responsive .dropdwn-content {
    position: relative;
  }
  .topnav.responsive .dropdwn .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.dropdwn-content:after,
.dropdwn-content:before {
  bottom: 100%;
  left: 25%;
  border: solid grey;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}

.dropdwn-content:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #f9f9f9;
  border-width: 10px;
  margin-left: -10px;
}
.dropdwn-content:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #f9f9f9;
  border-width: 16px;
  margin-left: -16px;
}

.page-heading h1 {
  text-align: center;
  color: #0d713d;
}
.page-heading span {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.can-le {
  vertical-align: middle;
  display: inline;
  position: relative;
}

/* cà phê */
.content_fields > div > div {
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  .item-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .col-ct-6 {
    max-width: 50%;
    padding-right: 30px;
  }

  .content_fields .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .col-ct-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .content_fields img {
    height: auto;
  }
}

.page-heading h1 {
  text-transform: uppercase;
  color: #0c713d;
  font-family: "Lora";
  text-align: center;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.page-heading .breadcrumb {
  background-color: transparent;
  color: #b2b2b2;
}

.page-heading {
  text-align: center;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.page-heading ul.menu a {
  font-family: "Lora", serif;
  display: block;
  font-size: 22px;
  color: #797979;
  line-height: 40px;
  text-transform: uppercase;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  text-align: center;
  padding: 0 25px;
}

.page-heading ul.menu li {
  float: none;
  display: inline-block;
}
.page-heading ul.menu {
  text-align: center;
}
.page-heading ul.menu.nav-tabs a {
  border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  border-left: 0;
  border-right: 0;
}
.page-heading ul.nav-tabs {
  border-bottom: 0;
}
.introduce .intro_info {
  margin-top: 20px;
}
.category-product .cat-item.thumbleft .cat-img {
  margin-right: 100px;
}
.category-product .cat-item.thumbright .cat-img {
  margin-left: 100px;
}
.content_fields > div > div h2 {
  margin-bottom: 20px;
}
.content_fields {
  margin-top: 50px;
}
.content_fields h2 {
  font-family: "Lora", serif;
}
.content_fields img {
  height: 320px;
  width: 100%;
  object-fit: cover;
}
.content_fields .form-group {
  margin-bottom: 50px;
  clear: both;
  width: 100%;
  float: left;
}
.float-right {
  float: right !important;
}
@media screen and (max-width: 767px) {
  .content_fields > div > div {
    display: block;
  }
}

/*coffee2*/
.category-product .cat-item .cat-img img {
  max-width: 285px;
  box-shadow: -4px -4px 8px 0 rgba(205, 205, 205, 0.5),
    4px 4px 8px 0 rgba(205, 205, 205, 0.5);
  border-radius: 50%;
  margin: 60px;
  background: #fff;
}

.category-product .item-wrapper {
  position: relative;
}
.category-product .item-wrapper .cat-item.thumbright:before {
  background-color: #fafafa;
  content: "";
  left: -100%;
  right: -100%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -1;
}
.category-product .cat-item {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 130px;
  padding-right: 130px;
}
.category-product .cat-item .cat-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.category-product .cat-item .cat-img img {
  max-width: 285px;
  box-shadow: -4px -4px 8px 0 rgba(205, 205, 205, 0.5),
    4px 4px 8px 0 rgba(205, 205, 205, 0.5);
  border-radius: 50%;
  margin: 60px;
  background: #fff;
}
.category-product .cat-item .cat-img img:hover {
  transition: box-shadow 1s;
  box-shadow: -4px -4px 8px 0 #cdcdcd, 4px 4px 8px 0 #cdcdcd;
}
.category-product .cat-item .cat-content .title {
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Muli", sans-serif;
  margin-bottom: 35px;
  position: relative;
}
.category-product .cat-item .cat-content .description {
  font-family: "Muli", sans-serif;
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 30px;
  color: #323232;
  line-height: 34px;
}
.category-product .cat-item.thumbleft .cat-img {
  float: left;
  margin-right: 180px;
}
.category-product .cat-item.thumbleft .cat-content .title:before {
  left: 40%;
}
.category-product .cat-item.thumbright .cat-img {
  float: right;
}
.category-product .cat-item.thumbright .cat-content .title:before {
  left: 0;
}

@media only screen and (max-width: 991px) {
  .category-product .cat-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .category-product .cat-item .cat-img {
    margin-left: -47px;
  }
  .category-product .cat-item .cat-img img {
    max-width: 250px;
  }
  .category-product .cat-item.thumbleft .cat-content .title:before {
    font-size: 50px;
    top: -50px;
  }
  .category-product .cat-item.thumbleft .cat-img {
    margin-right: 50px;
  }
  .category-product .cat-item.thumbright .cat-content .title:before {
    font-size: 50px;
    top: -50px;
  }
}
@media only screen and (max-width: 767px) {
  .category-product .cat-item {
    text-align: center;
  }
  .category-product .cat-item .cat-img img {
    max-width: 220px;
    margin-left: 100px;
  }
  .category-product .cat-item .cat-img {
    margin-left: -47px;
  }
}

.grid-item > .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.grid-item > .row:last-child > .dish-item {
  border-bottom: none;
}

.grid-item .product-item {
  position: relative;
  text-align: center;
  transition: margin 0.3s;
  border-radius: 5px;
  padding: 30px 15px;
  min-height: 380px;
  max-height: 380px;
}
.grid-item .product-item > .item-wrapper .img-responsive {
  width: 180px;
  margin-bottom: 15px;
}
.grid-item .product-item > .item-wrapper .item-name {
  font-size: 16px;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  line-height: 28px;
  color: #010101;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  min-height: 28px;
  text-transform: capitalize;
}
.grid-item .product-item > .item-wrapper .item-price {
  font-weight: bold;
  color: #0c713d;
  font-size: 16px;
  margin-bottom: 15px;
}
.grid-item .product-item > .item-wrapper .item-desc {
  margin-bottom: 15px;
}
.grid-item .product-item:nth-child(3) {
  border-right: none;
}
.grid-item .product-item + .dish-item > .combo-container {
  top: -1px;
  border-top: 1px dashed white;
}
.grid-item .product-item.active {
  z-index: 1;
  background-color: white;
}
.grid-item .product-item.active.double-combo:nth-child(2),
.grid-item .product-item.active:nth-child(3) {
  margin-left: calc(-33% - 4px);
}
.grid-item .product-item.active.double-combo:nth-child(3) {
  margin-left: calc(-67% + 1px);
}
.grid-item .product-item.active > .item-wrapper > .item-price,
.grid-item .product-item.active > .item-wrapper > .add-to-cart {
  visibility: hidden;
}
.grid-item .product-item.active > .combo-container {
  visibility: visible;
  opacity: 1;
}
.grid-item .product-item.dish-combo.active {
  z-index: 2;
}

.grid-item .combo-container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: calc(100% + 4px);
  height: calc(100% + 2px);
  top: 0;
  left: 100%;
  transition: all 0.2s linear;
}
.grid-item .combo-container > .side-group {
  height: 65%;
  padding: 3% 20px;
}
.grid-item .combo-container > .side-group.col-1,
.grid-item .combo-container > .side-group.col-2 {
  background-color: #fec225;
}
.grid-item .combo-container > .side-group.col-1::before,
.grid-item .combo-container > .side-group.col-1::after,
.grid-item .combo-container > .side-group.col-2::before,
.grid-item .combo-container > .side-group.col-2::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
  background-size: 100%;
  top: 50%;
  left: -12.5px;
  margin-top: -12.5px;
}
.grid-item .combo-container > .side-group.col-1::after,
.grid-item .combo-container > .side-group.col-2::after {
  left: auto;
  right: -12.5px;
}
.grid-item .combo-container > .side-group.col-3,
.grid-item .combo-container > .side-group.col-4 {
  background-color: #8fd6eb;
}
.grid-item .combo-container > .side-group > .swiper-container .combo-title {
  margin: 5px 0;
}
.grid-item .combo-container > .side-group > .swiper-container .img-responsive {
  max-width: 165px;
}
.grid-item
  .combo-container
  > .side-group
  > .swiper-container
  .swiper-button-next,
.grid-item
  .combo-container
  > .side-group
  > .swiper-container
  .swiper-button-prev {
  width: 12px;
  height: 20px;
  background-size: 12px 20px;
  margin-top: -5px;
}
.grid-item
  .combo-container
  > .side-group
  > .swiper-container
  .swiper-button-prev {
  left: 0;
}
.grid-item
  .combo-container
  > .side-group
  > .swiper-container
  .swiper-button-next {
  right: 0;
}
.grid-item .combo-container > .side-group > p.text-white {
  font-size: 0.9em;
  margin-bottom: 5px;
  white-space: nowrap;
  margin-right: 15%;
}
.grid-item .combo-container > .side-group.col-sm-12 > .swiper-container {
  max-width: 200px;
}
.grid-item .combo-container > .side-group.col-sm-12 > p.text-white.text-right {
  margin-right: 25%;
}
.grid-item .combo-container > .confirm {
  height: 35%;
  background: #e97c00;
  font-family: "Muli", sans-serif;
}
.grid-item .combo-container > .confirm > svg {
  margin-top: 15px;
  -webkit-animation: bounce 0.7s linear infinite;
  animation: bounce 0.7s linear infinite;
}
.grid-item .combo-container > .confirm > .combo-text {
  color: #ffc222;
  font-size: 1.13em;
}
.grid-item .combo-container > .confirm > .combo-price {
  font-size: 1.6em;
  margin-bottom: 13px;
}
.grid-item .combo-container .combo-close {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2em;
  line-height: 24px;
  width: 30px;
  height: 30px;
}
.grid-item .combo-container .combo-close:before {
  content: "×";
}

.grid-item .product-item.double-combo .combo-container {
  width: calc(200% + 7px);
}

.img-bia {
  width: 100%;
}
/*phần sắp xếp theo giá và tìm kiếm*/
.category-toolbar {
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #dcdcdc;
}
.category-toolbar .row > form > div {
  padding: 16px;
  border-right: 1px solid #dcdcdc;
}
.category-toolbar .row > form > div label {
  margin-right: 10px;
}
.category-toolbar
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 210px;
}
.category-toolbar
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
  .btn {
  background-color: transparent;
  border-color: #ccc;
}
@media only screen and (max-width: 991px) {
  .category-toolbar
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 150px;
  }
}
.category-toolbar .navbar-form .btn.btn-default,
.category-toolbar .bootstrap-select .btn.btn-default {
  border-color: #3a3a3a;
  text-transform: none;
  height: 33px;
}
.category-toolbar .navbar-form .btn.btn-default i,
.category-toolbar .bootstrap-select .btn.btn-default i {
  color: #3a3a3a;
}
.category-toolbar .navbar-form .btn.btn-default:hover,
.category-toolbar .bootstrap-select .btn.btn-default:hover {
  background-color: transparent;
  color: inherit;
}
.category-toolbar .input-group-btn .btn.btn-default {
  color: inherit;
  border-color: #cccccc;
}
.category-toolbar .navbar-form {
  margin: 0;
}
.category-toolbar .navbar-form .input-group .form-control {
  height: 33px;
  border-color: #3a3a3a;
}
@media only screen and (max-width: 991px) {
  .category-toolbar .navbar-form {
    padding: 0;
  }
}
/* end phần sắp xếp theo giá và tìm kiếm*/
.category-drink {
  padding-top: 40px;
  margin: 0 auto;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, center bottom;
  background-size: 20% auto, 75% auto;
}
.category-drink .product-item {
  margin-bottom: 45px;
}
.category-drink .product-item.sticky .item-wrapper > .img-responsive {
  float: right;
  margin-left: 10px;
  margin-bottom: 0;
  width: 300px;
}
.category-drink .product-item.sticky .item-info {
  position: absolute;
  left: 40px;
  right: 50%;
}
.category-drink .product-item.sticky .item-name {
  color: #0c713d;
  font-size: 20px;
  line-height: 28px;
}
.category-drink .product-item.sticky .item-desc {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
}
.category-drink .product-item.sticky .item-price {
  color: inherit;
}
@media only screen and (max-width: 991px) {
  .category-drink .product-item.sticky {
    padding: 0;
  }
  .category-drink .product-item.sticky .item-wrapper > .img-responsive {
    width: 200px;
    float: none;
    margin: 0 auto;
  }
  .category-drink .product-item.sticky .item-info {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
    text-align: center;
    bottom: 15px;
  }
}
.category-drink .product-item:hover {
  box-shadow: 0 1px 8px 0 rgba(107, 107, 107, 0.27);
}

.grid-item .product-item .btn-default {
  /*button liên hệ đặt hàng*/
  text-transform: uppercase;
  font-size: 13px;
  border-color: #0c713d;
  color: #0c713d;
}
.grid-item .product-item .btn-default:hover {
  background-color: #0c713d;
  color: #fff;
  font-weight: 500;
}
select.selectpicker {
  /*phần select sắp xếp theo giá*/
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #999;
}
select.selectpicker:hover {
  color: #333;
}
span.badge {
  background-color: #0c713d;
  right: 40px;
  color: #fff;
  font-weight: 900;
  border-radius: 2px;
  padding: 5px 8px;
  position: absolute;
  top: 20px;
  font-size: 10px;
  line-height: 1;
}

.searchbar {
  border: 1px solid grey;
}

.card-img-top {
  width: 180px;
  height: 180px;
}

.align-text-center {
  text-align: center;
}

.align-just-center {
  justify-content: center;
}

.card {
  border: none;
}

.card:hover {
  border: 1px solid #f9f2f2;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
}

#pills-tab li .active {
  background-color: white;
  color: #0d713d;
  display: block;
  border-top: 1px solid #0d713d;
  border-bottom: 1px solid #0d713d;
  border-radius: unset;
  font-weight: 400;
  font-size: 22px;
}

.nav-link {
  color: #cccc;
  background-color: white;

  font-weight: 400;
  font-size: 22px;
}
.nav-link:hover {
  color: #0d713d;
  border-top: 1px solid #0d713d;
  border-bottom: 1px solid #0d713d;
  border-radius: unset;
}
.card-body .btn {
  color: #0d713d;
  background-color: white;
  border: 1px solid #0d713d;
}
.card-body .btn:hover {
  background-color: #0d713d;
  color: white;
}
.img-banner {
  max-width: 300px;
  height: 300px;
}
.background {
  background-color: #eff7f3;
}

.card-background {
  background-color: transparent;
}
.background:hover {
  border: 1px solid #f9f2f2;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
}

.card-info .btn {
  color: #0d713d;
  background-color: white;
  border: 1px solid #0d713d;
}

.card-info .btn:hover {
  background-color: #0d713d;
  color: white;
}

#root {
  margin: 0 1rem;
}
