<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeTai41</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./fontawesome/fontawesome-free-5.13.1-web/css/all.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <section class="header" style="position: relative;padding-bottom: 48px;">
        <div class="container-fluid BG">
            <div class="bg-section1">
                <div class="container" style="position: relative;">
                    <nav class="Top-Bar navbar navbar-expand-lg navbar-light navbar-fixed-top" style="padding-top: 35px;">
                        <a class="navbar-brand logo">LOGO</a>
                        <button style="background-color: white;" class="navbar-toggler" type="button"
                            data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active Top-Bar-Menu">
                                    <a class="nav-link" href="#">Home</a><span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item Top-Bar-Menu">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                                <li class="nav-item Top-Bar-Menu">
                                    <a class="nav-link" href="#">Services</a>
                                </li>
                                <li class="nav-item Top-Bar-Menu">
                                    <a class="nav-link" href="#">Blog</a>
                                </li>
                                <li class="nav-item Top-Bar-Menu">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="title">
                        <h2>At vero eos et accusamus et iusto</br>odio dignissimos ducimus</h2>
                    </div>
                    <div class="text">
                        <p>Et harum quidem rerum facilis est et ezpedita distinctio. Nam libero tempore, cum soluta
                            nobis
                            est</br>eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus
                        </p>
                    </div>
                    <div class="BTN">
                        <button type="button" class="btn" style="text-align: center;">CONTACT US</button>
                    </div>
                    <div class="img">
                        <img src="./image/img-top.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="Features">
        <div class="container-fluid">
            <div class="container" style="background-color: white;">
                <h3 class="title">Features</h3>
                <div class="row" style="justify-content: center;margin-top: 50px;width: 1170px;">
                    <div class="" style="margin-right: 30px;">
                        <div class="card Features-1">
                            <img class="card-img-top" src="./image/icon-door.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #1</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet,</br>consectetur adipiscing elit,
                                    sed</br> eiusmod tempor incididunt ut. Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-30" style="margin-right: 30px;">
                        <div class="card Features-2">
                            <img class="card-img-top" src="./image/icon-luoi.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #2</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet,</br>consectetur adipiscing elit,
                                    sed</br> eiusmod tempor incididunt ut. Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-30">
                        <div class="card Features-3">
                            <img class="card-img-top" src="./image/icon-keo.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #3</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet,</br>consectetur adipiscing elit,
                                    sed</br> eiusmod tempor incididunt ut. Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="More-Features">
        <div class="container-fluid BG">
            <div class="container">
                <div class="row row-text" style="padding-top: 260px;">
                    <div class="" style="width: 545px;height: 246px;margin-right: 55px;">
                        <h3 class="title">More Features</h3>
                        <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim and minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="mr-30">
                        <div class="card">
                            <img class="card-img-top" src="./image/icon-1.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #1</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, etur adipiscing elit, sed do eiusmpor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-30">
                        <div class="card">
                            <img class="card-img-top" src="./image/icon-2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #2</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, etur adipiscing elit, sed do eiusmpor.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="mr-30">
                        <div class="card">
                            <img class="card-img-top" src="./image/icon-1.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #3</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, etur adipiscing elit, sed do eiusmpor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mr-30 mt-30">
                        <div class="card">
                            <img class="card-img-top" src="./image/icon-2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #4</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, etur adipiscing elit, sed do eiusmpor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mr-30 mt-30">
                        <div class="card">
                            <img class="card-img-top" src="./image/icon-1.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #5</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, etur adipiscing elit, sed do eiusmpor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-30">
                        <div class="card">
                            <img class="card-img-top" src="./image/icon-2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #6</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, etur adipiscing elit, sed do eiusmpor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mr-30" style="margin-top: 30px;">
                        <div class="card">
                            <img class="card-img-top" src="./image/icon-1.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #7</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, etur adipiscing elit, sed do eiusmpor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mr-30" style="margin-top: 30px;">
                        <div class="card">
                            <img class="card-img-top" src="./image/icon-2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #8</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, etur adipiscing elit, sed do eiusmpor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mr-30" style="margin-top: 30px;">
                        <div class="card">
                            <img class="card-img-top" src="./image/icon-2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Feature #8</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, etur adipiscing elit, sed do eiusmpor.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="Feature-More" style="padding-bottom: 50px;position: relative;">
        <div class="container">
            <div class="row">
                <div class="col" style="height: 476px;margin-top: 78px;width: 656px;margin-right: 45px;padding-left: 0;padding-right: 0;">
                    <h3 class="list-title">Ut enim ad minima veniam, quis nostrum exerci ullam.</h3>
                    <div class="list-info" style="width: 655px;">
                        <ul>
                            <li>
                                <i class="fa fa-check" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, ied do <span style="">eiusmod tempor incididunt.</span>
                            </li>
                            <li>
                                <i class="fa fa-check" aria-hidden="true"></i>Labore et dolore magna aliqua.
                            </li>
                            <li>
                                <i class="fa fa-check" aria-hidden="true"></i>Ut enim ad minim veniam, quis nostrud
                                exercitation mco laboris nisi ut aliquip ex ea commodo consequat.
                            </li>
                            <li>
                                <i class="fa fa-check" aria-hidden="true"></i>Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </li>
                        </ul>
                        <div class="list-footer">
                            Excepteur sint occaecat cupidadat non proident, sunt in culpa qui offica <b
                                style="color: #244adf;">DESERUNT MOLLIT ANIM</b> laborum.
                        </div>
                    </div>
                </div>
                <div class="col" style="padding-right: 0;padding-left: 118px;">
                            <div class="img-big">
                                <img src="./image/41hhh.png" />
                            </div>
                            <div class="img-small">
                                <img src="./image/41hh.png" />
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="More" style="padding-bottom: 50px;padding-top: 50px;padding-bottom: 100px;">
        <div class="comtainer-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 section5-row-img" style="position: relative;">
                        <div class="img1">
                            <img style="width: 100%;" src="./image/41hhhhh.png" />
                        </div>
                        <div class="img2">
                            <img style="width: 100%;" src="./image/41hhhh.png" />
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-left: 0;">
                        <h3 class="list-title">Ut enim ad minima veniam, quis nostrum exerci ullam.</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit oluptatem accusantium doloremque
                            laudantium, totam rem qperiam, eaque ipsa quae ab illo entore veritatis et quasi architecto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="Blog" style="padding-top: 20px;">
        <div class="container-fluid">
            <div class="container">
                <h1 class="title">Blog</h1>
                <div class="row" style="margin-top: 30px;">
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="./image/1.png" alt="Card image cap">
                            <div class="card-body" style="position: relative;">
                                <span><i class="fa fa-calendar mr-1" aria-hidden="true"></i>22 Nov 2018 <i
                                        style="margin-left: 35px;" class="fa fa-comment" aria-hidden="true"></i> 2
                                    comments
                                </span>
                                <h5 class="card-title">At vero eos et accusamus et iusto odio dignissimos</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="./image/2.png" alt="Card image cap">
                            <div class="card-body" style="position: relative;">
                                <span><i class="fa fa-calendar mr-1" aria-hidden="true"></i>22 Nov 2018 <i
                                        style="margin-left: 35px;" class="fa fa-comment" aria-hidden="true"></i> 2
                                    comments
                                </span>
                                <h5 class="card-title">At vero eos et accusamus et iusto odio dignissimos</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="./image/3.png" alt="Card image cap">
                            <div class="card-body" style="position: relative;">
                                <span><i class="fa fa-calendar mr-1" aria-hidden="true"></i>22 Nov 2018 <i
                                        style="margin-left: 35px;" class="fa fa-comment" aria-hidden="true"></i> 2
                                    comments
                                </span>
                                <h5 class="card-title">At vero eos et accusamus et iusto odio dignissimos</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-viewmore">
                    <button type="button" class="btn">VIEW MORE</button>
                </div>
            </div>
        </div>
    </section>
    <section class="logos" style="padding-top: 90px;padding-bottom: 90px;">
        <div class="container">
            <div class="img">
                <img style="width: 100%;" src="./image/logo.png" />
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h3 class="title">Get in Touch</h3>
                    <form style="margin-top: 20px;">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Full name *</label>
                                <input style="height: 80px;" type="text" class="form-control" placeholder="Full name">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email Address *</label>
                                <input style="height: 80px;" type="text" class="form-control"
                                    placeholder="Email Address">
                            </div>
                        </div>
                        <div class="form-group message">
                            <label>Message *</label>
                            <textarea style="height: 170px;" type="text" class="form-control"
                                placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-submit">Submit</button>
                    </form>
                </div>
                <div class="col-12 col-md-4">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1167943814658!2d106.64427641474927!3d10.802365892303927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752974fd410c2b%3A0xd7dd5f74c0918d3d!2zQ8O0bmcgdHkgcGjhuqduIG3hu4FtIEdTT1Q!5e0!3m2!1svi!2s!4v1594278321617!5m2!1svi!2s"
                            height="516px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top: 100px;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="icon">
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-youtube"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-pinterest"></i>
                            <i class="fab fa-dribbble"></i>
                            <i class="fab fa-behance"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="logo">
                            <h4>LOGO</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <p class="end">2019 Copyrights & Protected</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>