.nav-cart{
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  display: in;
}

.nav-cart label{
  color: white;
  cursor: pointer;
}

.nav-cart:hover{
  background-color: white;
}

.nav-cart:hover label{
  color: black;
}

.numberCart{
      border-radius: 10px;
      border: 2px solid white;
      color: white;
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      padding: 3px 7px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
}

.nav-cart:hover .numberCart{
  border: 2px solid black;
  color: black;
}

.navItem{
  color: white !important;
  font-weight: 600;
}

.navItem:hover a{
  color: white !important;
  font-weight: 900;
}

.scrollspy-example {
  position: relative;
  height: 250px;
  overflow: auto;
}

.navList{
  border: 1px solid black;
  background-color: white;
  color: black;
  font-weight: 600;
  cursor: pointer;
  border-radius: unset !important;
}

.navList:hover{
  color: blue !important;
}

.navList.active{
  background-color: black !important;
  color: white;
}

.navListTotal{
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.navListTotal:hover{
  border-right: 2px solid black;
  border-radius: unset;
  margin-right: -16px !important;
}

.navListTotal.active{
  background-color: unset !important;
  color: black !important;
  font-weight: 700 !important;
  border-right: 2px solid blue;
  border-radius: unset;
  margin-right: -16px !important;
}

.menuList{
  border-right: 1px solid rgb(212, 203, 203);
}

.contact-footer{
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  font-size: 18px;
}

.contact-footer i{
  padding-top: 20px;
  font-size: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.contact-footer i:hover{
  color: rgb(87, 87, 236) ;
}

.title-footer{
  padding-top: 10px;
  font-size: 25px;
  color: rgb(87, 87, 236);
  font-weight: 600;
}

.title-list-footer{
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.List-footer{
  padding-top: 20px;
}

.ul-footer{
  list-style: none;
  cursor: pointer;
}

.ul-footer li{
  float: left;
  color: rgb(196, 189, 189);
}

.ul-footer li:hover{
  color: blue;
}

.body-list{
  background-color: rgb(63, 61, 61);
  color: white;
  border-color: rgb(63, 61, 61) !important;
  border: none;
  font-weight: 400;
  cursor: pointer;
}

.body-list:hover{
  background-color: rgb(31, 29, 29);
}

.card-list{
  border: none;
}

.card-body-info{
  background-color: black;
  color: white;
  font-weight: 500;
}

.title-info{
  margin-left: -18px;
}

.img-hover{
  overflow: hidden;
  background-color: rgb(14, 13, 13);
}
.img-hover img{
max-width: 100%;
cursor: pointer;
  transition: transform .5s ease;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}


.img-hover:hover img{
  transform: scale(1.5);
  opacity: 0.3;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  margin-top: -30px;
}

.text {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.img-hover:hover .middle {
  opacity: 1;
}

.card-product{
  border: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 30px;
}

.card-product:hover .info-cart-product{
  visibility: visible;
}

.card-product-body{
  text-align: center;
  margin-bottom: 30px;
}

.info-cart-product{
  position: absolute;
  padding-top: 50px;
  z-index: 1;
  width: 288px;
  visibility: hidden;
}

.info-cart-product .info{
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
}

.info-cart-product .info:hover{
  color: blue;
}

.info-cart-product .add-cart{
  border: 1px solid black;
  border-top: none;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
}

.info-cart-product .add-cart:hover{
  color: blue;
}

.footer1 {
  list-style: none;
}
.footer1 li {
  margin: 0 0 10px;
}
.footer1 li a {
  color: #718096;
  position: relative;
}

.icon1 {
  justify-content: center;
}

.icon1 a {
  background-color: #03c;
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  margin-right: 4px;
  list-style: none;
}

.icon1 a:hover {
  background-color: #15db95;
}

.row-product{
  height: 662px;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 400px;
  }
}

@media (min-width: 576px){
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}



.modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;  
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}

.nameCart{
  font-weight: 700;
  font-size: 20px;
}

.priceCart{
  font-size: 17px;
}

.cart-header div .left{
  float: left;
  color: #03c;
  cursor: pointer;
}

.cart-header div .left:hover{
  text-decoration: underline;
}

.cart-header div .right{
  float: right;
}

.total{
    display: block;
    overflow: hidden;
    padding: 10px 30px 10px;
    border-bottom: 1px solid #d8d8d8;
    background: #fff;

}

.total div{
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    line-height: 22px;
}

.total div .left{
  float: left;
  font-size: 18px;
}

.total div .right{
  float: right;
  font-size: 18px;
}

.total div .leftThanhToan{
  float: left;
  font-weight: 700;
  font-size: 18px;
}

.btn-Cart{
  width: 400px;
  height: 45px;
  font-weight: 700;
  background-color: rgb(233, 112, 68);
  color: white;
}

.btn-Cart:hover{
  background-color: orangered;
}

.logOut{
    margin-right: 10px;
    color: white !important;
    float: left;
    border: 2px solid white;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    font-weight: 600 !important;
}

.logOut:hover{
  background-color: white;
  color: black !important;
  font-weight: 600 !important;
}

